.warming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.warming a {
  color: white;
  background-color: brown;

  padding: 0.8rem;
  border-radius: 0.8rem;

  font-size: 1.4rem;

  cursor: pointer;

  margin-bottom: -20rem;
}
