.warming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 8rem;
}

.btn-notFound {
  color: white;
  background-color: brown;

  padding: 0.8rem;
  border-radius: 0.8rem;

  font-size: 1.4rem;

  cursor: pointer;

  margin-top: 2.5rem;
}
